<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunyard.dao.AdFunctbDAO">
	<!-- 取得用户列表 -->
	<select id="getfuncByFunclevel" resultType="com.sunyard.bean.AdFunctb" parameterType="string">
		select * from aduser where delflag=0 and userid=#{0}
	</select>
	
	

</mapper>

















